<div class="home">
  
  <%= render "shared/side"%>

  <div class="home-main">

    <%= render "shared/header"%>

    <div class="notion-main">
      <div class="notion-background">
        <div class="notion">
          <% @notions.each do |notion| %>
            <div class='notion-title' data-id="<%= notion.id %>">
              <%= notion.title %>
            </div>
          <% end %>
        </div>

        <div class='notion-content' id="notion-content">
        </div>
      </div>

    </div>

    <%= render "shared/footer"%>
    
  </div>

</div>