<div class="home">
  
  <%= render "shared/side"%>

  <div class="home-main">

    <%= render "shared/header"%>

    <div class="tagline-main">

      <div class="tagline-form">
        <h3>キャッチコピーの入力</h3>
        <%= form_with(model: @tagline, local: true) do |form| %>
            <%= form.text_field :title, placeholder: "キャッチコピー", class: "tagline-title-index" %>
            <div class="tagline-form-m">
              <%= form.text_area :content, placeholder: "内容", class: "tagline-content-index"%>
            </div>
            <div class="tagline-form-b">
              <%= form.submit "保存" %>
            </div>
        <% end %>
      </div>


    </div>

    <%= render "shared/footer"%>
    
  </div>

</div>