<div class="home">
  
  <%= render "shared/side"%>

  <div class="home-main">

    <%= render "shared/header"%>

    <div class="h-m-main-d">

        <div class="d-container">
          <h3>日記を書く</h3>
          <%= form_with(model: @diary, local: true) do |form| %>
            <%= form.text_field :title, placeholder: "タイトル", class: "diary-title-index" %>
            <%= form.text_area :content, placeholder: "内容", class: "diary-content-index"%>
            <%= form.submit "保存" %>
          <% end %>
        </div>

    </div>

    <%= render "shared/footer"%>
    
  </div>

</div>