<div class="home">
  
  <%= render "shared/side"%>

  <div class="home-main">

    <%= render "shared/header"%>

    <div class="h-m-main-d">

     <div class="v-contents row">
        <div class="v-container">
          <div class="v-container-back">
            <%= link_to "編集", edit_diary_path(@diary) %>
          </div>
          <h3>今日の日記</h3>
          <%= form_with(model: @diary, local: true) do |form| %>
            <%= form.text_field :title, placeholder: "タイトル", class: "value-fome" %>
            <%= form.text_area :content, placeholder: "内容", class: "value-content"%>
          <% end %>
        </div>
      </div>

    </div>

    <%= render "shared/footer"%>
    
  </div>

</div>