<div class="home">
  
  <%= render "shared/side"%>

  <div class="home-main">

    <%= render "shared/header"%>

    <div class="h-m-main-d">

     <div class="d-contents row">
        <div class="d-container">
          <div class="d-container-back">
            <%= link_to "編集", edit_diary_path(@diary) %>
          </div>
          <h3>今日の日記</h3>
          <div class="diary-title-show">
             <%= @diary.title %>
          </div>
          <div class="diary-content-show">
             <%= @diary.content %>
          </div>
        </div>
      </div>

    </div>

    <%= render "shared/footer"%>
    
  </div>

</div>