<div class="content-1">
  <div class="header">
 <div class="sessions-h"><a href="#">ログイン</a></div> 
    <div class="registration-h"><a href="#">新規登録</a></div>
  </div>

  <div class="c1-body">
    <div class="main">
      <div class="main-1">Life</div>
      <div class="main-2">Shift Story</div>
      <div class="main-3">Living Your Best Life</div>
    </div>
  </div>
</div>


<div class="content-2">
  <div class="content-2-title">
  生きててよかったと思える人生を
  </div>
  <div class="content-2-body">

    <div class="content-2-left">
      <%= image_tag "concept.png", class:"content-2-image"%>
    </div>

    <div class="content-2-right">

      <div class="c2-top-sentence">人間に平等に与えられた「死」</div>
      <div class="c2-top-sentence">そのとき「生きてよかった」そう思える</div>
      <div class="c2-top-sentence">人生を体現するためのアプリ</div>
      <div class="c2-top-sentence">あなたは何を選択しどう生きるのか</div>
      <div class="c2-top-sentence">全ては今この瞬間から変えられる</div>

      <div class="content-2-bottom">
        新たな世界を見る旅へ
      </div>

    </div>

  </div>
</div>

<div class="content-3">
  <div class="content-3-title">人生を構成する３つの要素</div>
  <div class="c3-body">

    <div class="c3-main">
      <%= image_tag "conpass.png", class:"c3-image"%>
      <div class="c3-main-title">方向性</div>
      <div class="c3-main-content">人生の指針</div>
    </div>

    <div class="c3-main">
      <%= image_tag "relationship.png", class:"c3-image"%>
      <div class="c3-main-title">人間関係</div>
      <div class="c3-main-content">人生に彩りをもたらす</div>
    </div>

    <div class="c3-main">
      <%= image_tag "memory.png", class:"c3-image"%>
      <div class="c3-main-title">思い出</div>
      <div class="c3-main-content">人生の軌跡</div>
    </div>

  </div>
</div> 

<div class="content-4">
  <div class="content-4-title">アプリ機能</div>
  <div class="c4-body">

    <div class="c4-main">
      <%= image_tag "value.png", class:"c4-image"%>
      <div class="c4-main-title">価値観</div>
      <div class="c4-main-content">Testimonials are short quotes from people who love your brand. It's a great way to convince customers to try your services.</div>
      <%= image_tag "star.png", class:"c4-image-star"%>
    </div>

    <div class="c4-main">
      <%= image_tag "habit.png", class:"c4-image"%>
      <div class="c4-main-title">習慣</div>
      <div class="c4-main-content">Testimonials are short quotes from people who love your brand. It's a great way to convince customers to try your services.</div>
      <%= image_tag "star.png", class:"c4-image-star"%>
    </div>

    <div class="c4-main">
      <%= image_tag "good.png", class:"c4-image"%>
      <div class="c4-main-title">今日良かったこと</div>
      <div class="c4-main-content">Testimonials are short quotes from people who love your brand. It's a great way to convince customers to try your services.</div>
      <%= image_tag "star.png", class:"c4-image-star"%>
    </div>

    <div class="c4-main">
      <%= image_tag "diary.png", class:"c4-image"%>
      <div class="c4-main-title">日記</div>
      <div class="c4-main-content">Testimonials are short quotes from people who love your brand. It's a great way to convince customers to try your services.</div>
      <%= image_tag "star.png", class:"c4-image-star"%>
    </div>

  </div>
</div> 

<div class="content-5">
  <div class="c5-main">
    <div class="c5-sentence">考え方を変えれば行動が変わる</div>
    <div class="c5-sentence">行動が変われば習慣が変わる</div>
    <div class="c5-sentence">習慣が変われば人格が変わる</div>
    <div class="c5-sentence">人格が変われば人生が変わる</div>
  </div>
  <div class="footer">
    <div class="sessions-f"><a href="#">ログイン</a></div>
    <div class="registration-f"><a href="#">新規登録</a></div>
  </div>
</div>

