<div class="home-side">

    <div class="h-s-header">
      <div class="user_name">
        <%= link_to current_user.name, edit_user_path(current_user) %>
      </div>
    </div>

    <div class="h-s-main">
      <div class="h-s-m-list">
        <%= link_to "名言", famous_quotes_path %>
      </div>
      <div class="h-s-m-list">
        <a href="#">人生log</a>
      </div>
      <div class="h-s-m-list">
        <a href="#">楽しみカレンダー</a>
      </div>
      <div class="h-s-m-list">
        <a href="#">週間日程</a>
      </div>
      <div class="h-s-m-list">
        <%= link_to "やりたいことリスト", experiences_path %>
      </div>

<%#
      <div class="h-s-m-list">
        <a href="#">いいこと共有</a>
      </div>
      <div class="h-s-m-list">
        <a href="#">寄付</a>
      </div>
%>
    </div>



    <div class="h-s-footer">
      <div class="h-s-f-btn">
        <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
      </div>
      <div class="h-s-f-btn">
        <%= link_to "ホーム", homes_path %>
      </div>
    </div>

  </div>