<div class="home">
  
  <%= render "shared/side"%>

  <div class="home-main-g">

    <%= render "shared/header"%>

    <div class="h-m-main-good">
      <% if @goods.present? %>

        <% @goods.each do |good| %>
        <div class='good-main'>

          <div class="arrow-box">
            <%= image_tag 'arrow.png', class: "v-arrow"%>
            <div class="arrow-pull-down">
              <div class="content-post-link-p">
              <%= link_to '編集', edit_good_path(good.id), method: :get %>
              </div>
              <div class="content-post-link-p">
                <%= link_to '削除', good_path(good.id), method: :delete %>
              </div>
            </div>
          </div>

          <div class='good-content-i'>
            <%= good.good_thing %>
          </div>
 
        </div>

        <% end %>

      <% else %>
        <div class="good-tentative">
          <div class="good-info">
            <div class="good-title">これらは例です</div>
            <div class="good-content">自分の価値観を作ってみよう！<br>下のボタンから作成！</div>
          </div>
        </div>
        <div class="good-tentative">
          <div class="good-info">
            <div class="good-title">主体的になる</div>
            <div class="good-content">世の中で起こったことのすべては自分の責任である</div>
          </div>
        </div>
        <div class="good-tentative">
          <div class="good-info">
            <div class="good-title">他者貢献</div>
            <div class="good-content">自分なりに他者に貢献する</div>
          </div>
        </div>
        <div class="good-tentative">
          <div class="good-info">
            <div class="good-title">感謝し幸せを感じる</div>
            <div class="good-content">感謝し幸せを感じ良いエネルギーを振りまく</div>
          </div>
        </div>
        <div class="good-tentative">
          <div class="good-info">
            <div class="good-title">慈悲喜捨</div>
            <div class="good-content">他者の幸せを喜び、一緒に悲しみ、一緒に喜び、執着をすてる</div>
          </div>
        </div>
      <% end %>

    </div>

    <%= link_to "今日のいいこと", new_good_path, class: "good-create" %>

    <%= render "shared/footer"%>
    
  </div>

</div>