<div class="home">
  
  <%= render "shared/side"%>

  <div class="home-main-f">

    <%= render "shared/header"%>

    <div class="h-m-main-famous">
      <% if @famous_quotes.present? %>

        <% @famous_quotes.each do |famous| %>
        <div class='famous-main'>

          <div class="arrow-box">
            <%= image_tag 'arrow.png', class: "v-arrow"%>
            <div class="arrow-pull-down">
              <div class="content-post-link-p">
              <%= link_to '編集', edit_famous_quote_path(famous.id), method: :get %>
              </div>
              <div class="content-post-link-p">
                <%= link_to '削除', famous_quote_path(famous.id), method: :delete %>
              </div>
            </div>
          </div>

          <div class='famous-content-i'>
            <%= famous.phrase %>
          </div>

        </div>

        <% end %>

      <% else %>
        <div class="famous-tentative">
          <div class="famous-info">与えよ、さらば与えられん</div>
      <% end %>

    </div>

    <%= link_to "名言を作る", new_famous_quote_path, class: "famous-create" %>

  <%= render "shared/footer"%>
    
  </div>
  

</div>