<div class="home">
  
  <%= render "shared/side"%>

  <div class="home-main">

    <%= render "shared/header"%>

    <div class="new-m-main">
      <div class="v-contents row">
        <div class="v-container">
          <div class="v-container-back">
            <%= link_to "戻る", habits_path %>
          </div>
          <h3>習慣</h3>
          <%= form_with(model: @habit, local: true) do |form| %>
            <%= form.text_field :item, placeholder: "習慣", class: "value-content"%>
            <%= form.submit "完了" %>
          <% end %>
        </div>
      </div>
    </div>

    <%= render "shared/footer"%>
    
  </div>

</div>