<div class="home">
  
  <%= render "shared/side"%>

  <div class="home-main-h">

    <%= render "shared/header"%>

    <div class="habits-main" data-habits="<%= @habits.to_json %>">
      <div class="habits">
        <div class="habits__achievement">
          達成率: <span id="achievement-rate">0</span>%
        </div>
        <div class="habits__list" id="habits-list">
          <% @habits.each do |habit| %>
          <div class="habit">

            <div class="arrow-box">
              <%= image_tag 'arrow.png', class: "v-arrow"%>
              <div class="arrow-pull-down">
                <div class="content-post-link-p">
                  <%= link_to '編集', edit_habit_path(habit.id), method: :get %>
                </div>
                <div cass="content-post-link-p">
                  <%= link_to '削除', habit_path(habit.id), method: :delete %>
                </div>
              </div>
            </div>

            <div class="habit-bottom">
            
              <%= check_box_tag "habit_check_#{habit.id}", habit.id, habit.check, class: "habit-checkbox", data: { habit_id: habit.id, check: habit.check } %>
              <div class="habit-item">
                <%= habit.item %>
              </div>

            </div>

          </div>
          <% end %>
        </div>
      </div>
    </div>

    <%= link_to "習慣を作る", new_habit_path, class: "habit-create" %>

    <%= render "shared/footer"%>
    
  </div>

</div>
